<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>

<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>

<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Age: {{ ageInput.valid }}</p>


<hr>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toogle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  Non commodo tempor ipsum ex do non id dolore occaecat incididunt nisi. Do nisi amet officia culpa do fugiat. Sit eu in tempor exercitation et. Id proident nisi qui mollit esse anim. Pariatur cillum fugiat laboris mollit. Elit ea nisi id laboris consectetur eiusmod reprehenderit est veniam dolore.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus numquam dicta ea error voluptatum nisi quia, expedita harum neque vitae, libero odit porro odio ratione veniam, dolorem ipsam. Sit, ipsam.
</div>

<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<hr>

<h1>Propiedades</h1>
<p>{{ 'Property binding [***]="accion"'}}</p>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="" width="100">

<hr>

<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
<p>6 + 3 = {{ 6 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ image }}" alt="Image random" width="500">

<h4>{{ 'Esto son string interpolation, variables tiene que ser publicas' }}</h4>
